
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.panel {
    background-color: white;
    /* border-radius: 10px; */
    width: 100%;
    margin:30px 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
   
    min-height: 800px;
}



.button{
    width: 100%;
    height: 100%;
    background-color:#34495e;
    border-top: none;
    margin: 0;
    text-align: left;
    padding: 15px 0 10px;
    
}

.items:first-child  {
margin-left: 30px;
}

.items  {
    color:black;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    padding-bottom: 7px;
    }
.about {
    font-weight: 200;
    background-color: #DCDCDC;
}

.Project{
    font-weight: 200;
    background-color: white;
  
}
.Skills {
    font-weight: 200;
    background-color: #DCDCDC;
}

.projects {
    width: 100%;
    z-index: 10;
}

.Plist li{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
    

}

.text span {
    margin: 5px 5px 5px 0;
}

.title, .proname {
    font-weight: 300;
}

.artiimg{
    width: 130px;
    height: 130px;
    
    margin-left: 15px;
}

.article{
    margin: 10px 0;
    padding-top: 10px ;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #B3B3B3; */
}

.proname{
    margin-top: 10px;
    padding: 13px 20px 20px 18px;
    /* background-color: #ecf0f1; */
    /* border-bottom: 1px solid #B3B3B3; */
    
}

.article:hover{
    background-color: #FAFAFA;
    filter:brightness(90%);
    cursor:pointer;
}

@media(max-width:600px) {


    

}

