
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.panel {
    background-color: #edf2f4;
    /* border-radius: 10px; */
    width: 100%;
    margin:30px 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
   z-index: 0;
    min-height: 800px;
}



.button{
    width: 100%;
    height: 100%;
    background-color:#34495e;
    border-top: none;
    margin: 0;
    text-align: left;
    padding: 15px 0 10px;
    
}

.items:first-child  {
margin-left: 30px;
}

.items  {
    color:black;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    padding-bottom: 7px;
    }
.about {
    font-weight: 200;
    background-color: #DCDCDC;
}

.Project{
    font-weight: 200;
    background-color: white;
  
}
.Skills {
    font-weight: 200;
    background-color: #DCDCDC;
}

.projects {
    width: 100%;
    z-index: 10;
}

.Plist li{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
    

}

.text span {
    margin: 5px 5px 5px 0;
}

.title, .proname {
    font-weight: 300;
}

.artiimg{
    width: 130px;
    height: 130px;
    
    margin-left: 15px;
}

.article{
    margin: 0;
    padding-top: 10px ;
    padding-bottom: 10px;
    position: initial;
    /* border-bottom: 1px solid #B3B3B3; */
    z-index: 0;
 
}

.proname{
    margin-top: 10px;
    padding: 13px 20px 20px 18px;
    /* background-color: #ecf0f1; */
    /* border-bottom: 1px solid #B3B3B3; */
    
}

.article:hover{
    background-color: #FAFAFA;
    filter:brightness(90%);
    cursor:pointer;
    position: relative;
    z-index: 0;
}

.intex {
    font-weight: 100;

}




.tab {
    position: absolute;
    background-color: white;
    border : 1px solid #8d99ae;
    border-radius: 10px;
    max-width: 750px;
    max-height: 600px;
    height: 99%;
    width: 99%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    font-weight: 100;
    display: none;
    animation: fadeIn 0.3s linear;
}

.showp {
    filter:blur(2px);
}

.showt {
    display: flex;
}


.tab:nth-child(n) {
    height: 99%;
    width: 99%;
    background-color: 1px solid black;
}

.panel{
    
}

.tab img {
    object-fit: contain;
}

.tab div{
    text-align: center;
}

.ttitle {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    height: 0px;


}


.tag {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items:center;
    height: 0px;
}

.subtitle {
    text-align: left;
    flex-grow: 2;
    padding-right: 300px;
    margin-left: 10px;
}

.close {
    flex-grow: 1;
    cursor:pointer;
}

.gitbtn , .sitebtn {
    border : 1px solid #8d99ae;
    padding: 10px 20px 15px 20px;
    margin: 0 15px;
    width: 70px;
    height: 10px;
    border-radius: 8px;
    color: white;
    background-color: #34495e;
    font-weight: 100;
    
    text-decoration: none;
    
}

.gitbtn:hover , .sitebtn:hover{

    cursor:pointer;
    
}

.timg {
    flex-grow: 2;
    max-height: 50%;
}

.ttext {
  margin-top: 30px;
    flex-grow: 3;
}

/* 
.tabs{
    border: black solid 1px;
} */

.num {
    display: none;
}


@keyframes fadeIn{
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@media(max-width:600px) {


    

}

